.catalog {
  margin-bottom: 120px;
}

.direction {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 30px 0;
  a {
    display: block;
    color: #05192b;
    font-family: Hauora;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
  }
}

.center {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  width: 100%;
  max-width: 370px;
  border-radius: 25px;
  background: #f5f8ff;

  button {
    color: #05192b;
    font-family: Hauora;
    font-size: 13.958px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.958px;
  }

  .labelBox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  label {
    width: 100%;
    max-width: 148px;
    display: flex;
    align-items: flex-start;
    gap: 9px;
    color: #05192b;
    font-family: "Helvetica Neue";
    font-size: 12.214px;
    font-style: normal;
    font-weight: 100;
    line-height: 13.958px;
  }
}

.right {
  margin: 0 0 120px;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 7px;
  width: 840px;

  .item {
    padding: 20px;
    .top {
      display: block;
      color: #05192b;
      font-family: Hauora;
      font-size: 11.769px;
      font-style: normal;
      font-weight: 700;
      line-height: 126.5%;
    }
    img {
      width: 206.714px;
      height: 202.347px;
      margin-bottom: 8px;
    }
    .title {
      margin: 0 0 2px;
      color: #05192b;
      font-family: Hauora;
      font-size: 12.092px;
      font-style: normal;
      font-weight: 700;
      line-height: 126.5%;
    }
    .bottom {
      display: inline-block;
      margin-bottom: 7px;
      color: rgba(5, 25, 43, 0.7);
      font-family: Hauora;
      font-size: 9.405px;
      font-style: normal;
      font-weight: 400;
      line-height: 126.5%;
    }
    .btnBox {
      display: flex;
      align-items: center;
      gap: 7px;

      .buyBtn {
        padding: 10px 40px;
        color: #fff;
        font-family: Hauora;
        font-size: 15.692px;
        font-style: normal;
        font-weight: 700;
        line-height: 126.5%;
        border-radius: 10.78px;
        background: #377df1;
        border: none;
      }
      button {
        padding: 8px;
        border-radius: 10.78px;
        background: #f3f6ff;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  max-width: 160px;
  margin: 0 auto;
  span {
    display: block;
    color: rgba(42, 42, 42, 0.7);
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
  }
  .on {
    color: #377df1;
    font-weight: 700;
  }
}
